{% extends "base.html" %}
{% set active_page = "login" %}
{% block title %}sMusic-www - Minimal Preview{% endblock %}
{% block dropdown_title %}
Biblioteka muzyczna
{% endblock %}
{% block main %}
    <div class="row card-panel white" style="padding:0px;">
        <div class="col l5 m6 s12">
            <h5>Nowy klucz api: </h5><p class="code">{{ api_key }}</p>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
