<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head_main %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/nouislider.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
</head>
<body data-ng-app="sMusic" data-ng-controller="{% block controller %}{% endblock %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>

    <main class="row">
        <div class="col s12 m12 l12">
            <nav>
                <div class="nav-wrapper blue">
                    <a href="#" class="brand-logo center white-text">sMusic</a>
                    <ul id="nav-mobile" style="margin-left:15px;" class="left">
                            <li>{{ current_user.display_name }}</li>
                    </ul>
                    <ul id="nav-mobile" class="right">
                        {% if current_user.is_authenticated %}
                            <li><a style="text-decoration:none" href="/logout">Wyloguj</a></li>
                        {% else %}
                            <li><a style="text-decoration:none" href="/login">Zaloguj</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col s12 m12 l3">
            {% block menu %}
            <div class="hide-on-med-and-down">
                {% include "search_box.html" %}
            </div>
            {% set active_page = active_page|default('index') -%}
            <div class="collection hide-on-small-only">
                {% for href, id, caption in navigation_bar %}
                    <a href="{{ href|e }}" class="collection-item
                    {% if id == active_page %} active blue {% endif %}
                    {% if id != active_page %}blue-text{% endif %}">{{ caption|e }}</a>
                {% endfor %}
            </div>
            <span class="hide-on-med-and-up">
                <ul id="dropdown2" class="dropdown-content" style="width:100%">
                    {% for href, id, caption in navigation_bar %}
                        <li><a href="{{ href|e }}" class="collection-item">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn dropdown-button" href="#!" data-activates="dropdown2" style="width:100%;margin-top:10px;margin-bottom:10px;">{% block dropdown_title %}{% endblock %}<i class="mdi-navigation-arrow-drop-down right"></i></a>
            </span>
            <div class="hide-on-large-only">
                {% include "search_box.html" %}
            </div>
            {% endblock %}
            <div class="card-panel grey white-text center-align hide-on-med-and-down">
                sMusic-www v{{ version }}
            </div>
        </div>
        <div class="col s12 m12 l9">
            {% block main %}{% endblock %}
        </div>
        <div class="col s12 m12 l12">
            <div class="card-panel grey white-text center-align hide-on-large-only">
                sMusic-www v{{ version }}
            </div>
        </div>
    </main>
    {% block script %}
    {% endblock %}
</body>
</html>
