{% set active_page = "library" %}
{% extends "library.html" %}
{% block controller %}librarySearch{% endblock %}
{% block breadcrumb %}
    <a href="/library/" class="breadcrumb">Biblioteka</a>
    <a href="/search/" class="breadcrumb">Szukaj</a>
    {% raw %}
    <a href="/search/?q={{ query_current }}" class="breadcrumb">{{ query_current }}</a>
    {% endraw %}
{% endblock %}
{{ query }}
{% block collection %}
{% raw %}
        <div data-ng-repeat="track in tracks" class="modal bottom-sheet blue" id="playlist-modal-{{ $index }}">
            <span class="white-text" style="text-transform:uppercase;padding:5px;"><b>Wybierz playlistę</b></span>
            <ul class="collection" style="margin:0;padding:0; background:none;">
                <li class="collection-item" data-ng-repeat="playlist in playlists" data-ng-click="addToPlaylist(playlist.id, track.artist_id, track.album_id, track.id)">{{ playlist.name }}</li>
            </ul>
        </div>
    <ul class="collapsible" data-collapsible="accordion">
        <li data-ng-repeat="track in tracks">
            <div class="collapsible-header">{{track.title}}<span data-ng-if="!isTouch"> - <a data-ng-href="/library/{{ track.artist_id }}/{{ track.album_id }}/">{{ track.album_name }}</a> - <a data-ng-href="/library/{{ track.artist_id }}/">{{ track.artist_name }}</a></span>
            </div>
            <div class="collapsible-body">
                <ul class="collection" style="border-radius: 0;">

                    <li data-ng-if="isTouch" class="collection-item grey lighten-2">
                        <b>Album:</b> <a data-ng-href="/library/{{ track.artist_id }}/{{ track.album_id }}/">{{ track.album_name }}</a>
                    </li>
                    <li data-ng-if="isTouch" class="collection-item grey lighten-2">
                        <b>Wykonawca:</b> <a data-ng-href="/library/{{ track.artist_id }}/">{{ track.artist_name }}</a>
                    </li>
                    <li class="collection-item blue-grey" data-ng-click="openModal($index)">
                        <a class="white-text">Dodaj do playlisty</a>
                    </li>
                    <li class="collection-item red" data-ng-click="addToQueue(track.artist_id, track.album_id, track.id)">
                        <a class="white-text">Dodaj do kolejki</a>
                    </li>
                    <li class="collection-item red" data-ng-click="clearQueueAndPlayTrack(track.artist_id, track.album_id, track.id)">
                        <a class="white-text">Wyczyść kolejkę i zacznij grać</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endraw %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        query = "{{ query }}";
        $(document).ready(function(){
            $('.collapsible').collapsible({
              accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
        });
    </script>
    {{ super() }}
{% endblock %}
