{% extends "base.html" %}
{% set active_page = "library" %}
{% block title %}sMusic-www - Minimal Preview{% endblock %}
{% block menu %}
    <div class="hide-on-med-and-down">
        {% include "search_box.html" %}
    </div>
    {{ super() }}
    <div class="hide-on-large-only">
        {% include "search_box.html" %}
    </div>
{% endblock %}
{% block dropdown_title %}
Biblioteka muzyczna
{% endblock %}
{% block main %}
    <div class="row card-panel white" style="padding:0px;">
        <nav>
        <div class="nav-wrapper black" style="overflow-x:auto;overflow-y:hidden;white-space:nowrap;">
          <div class="col l12 m12 s12" >
            {% block breadcrumb %}
            {% endblock %}
          </div>
        </div>
        </nav>
        <div class="col l12 m12 s12">
            {% block collection %}
            <div class="collection" >
                {% block items %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
