{% extends "base.html" %}
{% block title %}sMusic-www - Minimal Preview{% endblock %}
{% block menu %}
    <div class="hide-on-med-and-down">
        {% include "search_box.html" %}
    </div>
    {{ super() }}
    <div class="hide-on-large-only">
        {% include "search_box.html" %}
    </div>
{% endblock %}
{% block menu_links %}
    <a href="/" class="collection-item blue-text">Panel główny</a>
    <a href="/library/" class="collection-item active blue">Biblioteka muzyczna</a>
    <a href="#" class="collection-item blue-text">Kalendarz</a>
{% endblock %}
{% block menu_links_mobile %}
    <li><a href="/" class="collection-item">Panel główny</a></li>
    <li><a href="/library/" class="collection-item">Biblioteka muzyczna</a></li>
    <li><a href="#" class="collection-item">Kalendarz</a></li>
{% endblock %}
{% block dropdown_title %}
Biblioteka muzyczna
{% endblock %}
{% block main %}
    <div class="row card-panel white" style="padding:0px;">
        <div class="col center">
            <div class="card-panel red lighten-2"><h4>Hmm... Próbjesz uzyskać dostęp do czegoś, do czego nie jesteś uprawniony...<br>(WOW! Tak bardzo hacker! WOW! WOW!)</h4> <img class="responsive-img" src="https://cdn2.hubspot.net/hubfs/498921/Blog/Doge_Error_Codes.jpg?t=1455300506486"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
