{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}sMusic-www - Minimal Preview{% endblock %}
{% block dropdown_title %}
Panel główny
{% endblock %}
{% block controller %}playerStatus{% endblock %}
{% block menu %}
    <div class="hide-on-med-and-down">
        {% include "search_box.html" %}
    </div>
    {{ super() }}
    <div class="hide-on-large-only">
        {% include "search_box.html" %}
    </div>
{% endblock %}
{% block main %}
    <div class="row card-panel grey" style="padding:0px;"
         xmlns="http://www.w3.org/1999/html">
        {% raw %}
        <div class="col l5 m6 s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" id="albumart" onError="this.src='/static/images/nocover.jpg';" data-ng-src='{{ albumArtURL }}'>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ trackTitle }}</span>
                </div>
                <div data-ng-if="isFileLoaded" class="card-reveal">
                    <span class="card-title grey-text text-darken-4" id="status_title">{{ trackTitle }}</span>
                    <br />
                    <label for="title">Tytuł</label>
                    <div id="title">{{ trackTitle }}</div>
                    <label for="album">Album</label>
                    <div><a href="/library/{{ idFromTag(trackArtist) }}/{{ idFromTag(trackAlbum) }}/" id="album">{{ trackAlbum }}</a></div>
                    <label for="artist">Wykonawca</label>
                    <div><a href="/library/{{ idFromTag(trackArtist) }}/" id="artist">{{ trackArtist }}</a></div>
                </div>
            </div>
        </div>
        <div class="col l7 m6 s12">
            <div class="card-panel white">
                <h5 style="margin-top:0">Odtwarzacz</h5>
                <div class="center-align" style="position: relative">
                    <div style="z-index: 10">
                        <a class="grey-text" href="javascript:void(0)" data-ng-click="playerPrev()"><i class="medium material-icons">skip_previous</i></a>
                        <a class="grey-text" href="javascript:void(0)" data-ng-click='playerPause()'><i class="medium material-icons">pause_circle_outline</i></a>
                        <a class="grey-text" href="javascript:void(0)" data-ng-click="playerPlay()"><i class="medium material-icons">play_circle_outline</i></a>
                        <a class="grey-text" href="javascript:void(0)" data-ng-click="playerNext()"><i class="medium material-icons">skip_next</i></a>
                    </div>
                    <div id="controls_cover" class="fill card-panel grey valign-wrapper" style="font-size: 30px; top:-10px" ng-show="hideButtons">
                            <span class="valign center-block"> Trwa lekcja...</span>
                        </div>
                    </div>
                <form action="#" >
                    <p class="range-field">
                        <label for="progress" width="100%">{{ trackTitle }} - <span data-ng-if="isFileLoaded">{{ trackAlbum }} - {{ trackArtist }}&nbsp;&nbsp;&nbsp;</span>[{{ position_readable }}/{{ duration_readable }}]</label>
                        <input type="range" id="progress" step="1" min="0" max="{{ duration }}" data-ng-model="position" data-ng-change="seek()" />
                    </p>
                    <p class="range-field" >
                        <label for="volume"><i class="material-icons">volume_up</i></label>
                        <input type="range" id="volume" step="5" min="0" max="100" data-ng-model="volume" data-ng-change="updateVolume()" />
                    </p>
                </form>
            </div>
            <div class="card-panel white" data-ng-if="queue.length">
                <h5 style="margin-top:0">Kolejka</h5>
                <ul data-as-sortable="dragControlListeners" data-ng-model="queue" class="collection" >
                    <li data-as-sortable-item data-ng-repeat="track in queue">
                        <div data-as-sortable-item-handle data-ng-class="{true:'red-text', false:''}[$index === queuePosition]" style="white-space:nowrap;" class="collection-item">{{ track.title }}&nbsp;&nbsp;<span class="grey-text hide-on-small-only"><small>- {{ track.artist }}&nbsp;-&nbsp;{{ track.album }} - [{{ track.length_readable }}]</small></span>
                                <a class="secondary-content card white" style="position: absolute;right:0;margin-top:-8px;padding-right:4px;padding-left:4px;padding-top:6px;">
                                    <i data-ng-click="setQueuePosition($index)" class="material-icons">play_circle_filled</i>&nbsp;&nbsp;<i data-ng-click="delFromQueue($index)" class="material-icons red-text">delete</i>
                                </a>
                        </div>
                    </li>

                </ul>
                <div class="align-left">
                    <a class="btn waves-effect" data-ng-click="clearQueue()"><i class="material-icons">clear_all</i></a>
                    <a class="btn waves-effect" data-ng-class="{true: 'grey', false: 'blue'}[isModeNormal()]" data-ng-click="toggleMode()"><i class="material-icons">{{ getModeIcon() }}</i></a>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
