{% extends "base.html" %}
{% block title %}sMusic-www - Minimal Preview{% endblock %}
{% block menu %}
    <div class="hide-on-med-and-down">
        {% include "search_box.html" %}
    </div>
    {{ super() }}
    <div class="hide-on-large-only">
        {% include "search_box.html" %}
    </div>
{% endblock %}
{% block menu_links %}
    <a href="/" class="collection-item blue-text">Panel główny</a>
    <a href="/library/" class="collection-item active blue">Biblioteka muzyczna</a>
    <a href="#" class="collection-item blue-text">Kalendarz</a>
    <a href="/upload" class="collection-item blue-text">Dodaj Utwór</a>
{% endblock %}
{% block menu_links_mobile %}
    <li><a href="/" class="collection-item">Panel główny</a></li>
    <li><a href="/library/" class="collection-item">Biblioteka muzyczna</a></li>
    <li><a href="#" class="collection-item">Kalendarz</a></li>
    <a href="/upload" class="collection-item blue-text">Dodaj Utwór</a>
{% endblock %}
{% block dropdown_title %}
Dodaj Utwór
{% endblock %}
{% block main %}
    <div class="row card-panel white" style="padding:0px;">
        <div class="col l5 m6 s12">
            <form method="POST" action="/login" class="col s12">
                {% if message!="" %}
                <div class="card-panel yellow lighten-2"><h4>{{ message }}</h4></div>
                {% endif %}
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.url.label }}
                        {{ form.url(class="validate") }}
                        <ul class="errors">{% for error in form.url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
