{% extends "base.html" %}
{% set active_page = "upload" %}
{% block title %}sMusic-www - Minimal Preview{% endblock %}
{% block menu %}
    <div class="hide-on-med-and-down">
        {% include "search_box.html" %}
    </div>
    {{ super() }}
    <div class="hide-on-large-only">
        {% include "search_box.html" %}
    </div>
{% endblock %}
{% block dropdown_title %}
Dodaj Utwór
{% endblock %}
{% block controller %}downloadStatus{% endblock %}
{% block main %}
    <div class="row card-panel grey" style="padding:0px;">
        <div class="col l6 m6 s12">
            <div class="card-panel white row">
                <form method="POST" action="/upload/" class="col s12 m12 l12">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.url.label }}
                            {{ form.url(class="validate") }}
                            <ul class="errors">{% for error in form.url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.artist.label }}
                            {{ form.artist(class="validate") }}
                            <ul class="errors">{% for error in form.artist.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.album.label }}
                            {{ form.album(class="validate") }}
                            <ul class="errors">{% for error in form.album.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.track.label }}
                            {{ form.track(class="validate") }}
                            <ul class="errors">{% for error in form.track.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">POBIERZ
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="card-panel white row">
                <h5 style="margin-top:0">Kolejka</h5>
                {% raw %}
                    <div data-ng-if="is_downloading">
                        <div class="progress">
                            <div class="determinate" ng-style="{'width': progress+'%' }" data-ng-if="progress_known"></div>
                            <div class="indeterminate" data-ng-if="!progress_known"></div>
                        </div>

                        <ul class="collection" >
                            <li class="collection-item" data-ng-repeat="item in queue">
                                <span data-ng-if="!(item.track && item.artist && item.album)" class="secondary-content">{{ item.url }}</span>
                                <span data-ng-if="item.track && item.artist && item.album" class="secondary-content">{{ item.track }}&nbsp;-&nbsp;{{ item.artist }}&nbsp;-&nbsp;{{ item.album }}</span></li>
                        </ul>
                        <button class="waves-effect waves-light btn" data-ng-click="clearDownloadQueue()">WYCZYŚĆ</button>
                    </div>
                    <div data-ng-if="!is_downloading">
                        Nie ma plików w kolejce
                    </div>
                {% endraw %}
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% if message %}
    <script type="text/javascript">
        Materialize.toast('Dodano plik do kolejki!', 3000, 'rounded')
    </script>
    {% endif %}
{% endblock %}
