<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/nouislider.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>
    <div class="row">
        <div class="col s12 m12 l3">
            <div class="collection hide-on-small-only">
                <a href="#" class="collection-item active blue">Panel główny</a>
                <a href="#" class="collection-item blue-text">Biblioteka muzyczna</a>
                <a href="#" class="collection-item blue-text">Kalendarz</a>
            </div>
            <span class="hide-on-med-and-up">
                <ul id="dropdown2" class="dropdown-content" style="width:100%">
                    <li><a href="#!">Panel główny</a></li>
                    <li><a href="#!">Biblioteka muzyczna</a></li>
                    <li><a href="#!">Kalendarz</a></li>
                </ul>
                <a class="btn dropdown-button" href="#!" data-activates="dropdown2" style="width:100%;margin-top:10px">Panel główny<i class="mdi-navigation-arrow-drop-down right"></i></a>
            </span>
        </div>
        <div class="col s12 m12 l9">
            {% block main %}{% endblock %}
        </div>
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>